@import "~react-bulma-components/src/index.sass";

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  
}

#login-box{
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  height: 230px;
  width: 310px;
}

#login-form{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
html {
  overflow-y: hidden;
  background-color: #f9f9f9;
}

.navbar-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: left;
  background-color:#000000;
  border-right: 1px solid #d8dee2;;
  width: 50px;
  height: 100vh;
  padding-top: 60px;
}

.button-icon{
  margin-top: 20px;
  margin-left: 30%;
  font-size: 20px;
}

